{% extends 'core/administrativo_dashboard.html' %}

{% block content %}
<div class="carreras-consulta-container">
    <h2 class="titulo-consulta">Consulta de Carreras</h2>

    {% if messages %}
    <div class="error-message">
        {% for message in messages %}
        <div class="message {{ message.tags }}">
            <i class="fas fa-exclamation-circle"></i> <!-- Icono de error -->
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <form method="GET" action="{% url 'carreras_consulta' %}" class="form-filtros">
        <div class="form-group">
            <label for="busqueda">Buscar por Nombre:</label>
            <input type="text" id="busqueda" name="busqueda" placeholder="Nombre de la carrera" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Consultar</button>
    </form>

    <!-- Tabla de resultados -->
    <div class="tabla-container">
        <table class="tabla-resultados">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cuatrimestres</th>
                    <th>Alumnos Egresados</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for carrera in carreras %}
                <tr>
                    <td>{{ carrera.nombre }}</td>
                    <td>{{ carrera.cuatrimestres }}</td>
                    <td>{{ carrera.alumnosEgre }}</td>
                    <td>
                        <a href="{% url 'modificar_carrera' carrera.id %}">✏️</a>
                        <a href="{% url 'eliminar_carrera' carrera.id %}">❌</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">No se encontraron carreras.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}