{% extends 'core/administrativo_dashboard.html' %}

{% block content %}
<div class="form-container">
    <h2 class="form-title">Modificar Administrador</h2>

    <!-- Mostrar los mensajes de error -->
    {% if messages %}
    <div class="error-message">
        {% for message in messages %}
        <div class="message {{ message.tags }}">
            <i class="fas fa-exclamation-circle"></i> <!-- Icono de error -->
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="nombres">Nombres:</label>
            <input class="form-control" type="text" id="nombres" name="nombres" value="{{ administrador.nombres }}" required>
        </div>
        <div class="form-group">
            <label for="apellidoP">Apellido Paterno:</label>
            <input class="form-control" type="text" id="apellidoP" name="apellidoP" value="{{ administrador.apellidoP }}" required>
        </div>
        <div class="form-group">
            <label for="apellidoM">Apellido Materno:</label>
            <input class="form-control" type="text" id="apellidoM" name="apellidoM" value="{{ administrador.apellidoM }}" required>
        </div>
        <div class="form-group">
            <label for="genero">Género:</label>
            <select class="form-control" id="genero" name="genero" required>
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
                <option value="O">Otro</option>
            </select>
        </div>
        <div class="form-group">
            <label for="correo">Correo:</label>
            <input class="form-control" type="email" id="correo" name="correo" value="{{ administrador.correo }}" required>
        </div>
        <div class="form-group">
            <label for="estado">Estado:</label>
            <input type="checkbox" id="estado" name="estado" {% if administrador.estado %}checked{% endif %}>
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="submit">Guardar Cambios</button>
            <a class="btn" href="{% url 'usuarios_consulta' %}">Cancelar</a>
        </div>
    </form>
</div>
<style>
    .btn {
        display: inline-block;
        padding: 8px 16px;
        background-color: #e92323;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        font-size: 14px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #218838;
    }
</style>
{% endblock %}